  @import "tailwindcss";
  html, body, #map {
    height: 100%;
    margin: 0;
    font-family: "Space Mono", monospace;
    font-weight: 400;
  }


  .info-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    z-index: 1000;
    max-width: 400px;
    max-height: 200px;
    overflow-y: auto;
  }

  .control-panel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    font-family: "Space Mono", monospace;
    font-weight: 400;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: 10% auto;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
  }

  .modal input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    padding: 6px 10px;
    cursor: pointer;
    margin-top: 5px;
  }

.input-container {
  width: 700px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.points{ 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  color: #090909;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-menu{ 
  display: flex;
  gap: 10px;
}

.control-panel{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}